<template>
  <div class="container">
    <div class="padding-10">
      <h1 class="text-align-center">Units</h1>
      <p class="text-align-justify">
        Here you can find information about the units.
      </p>
      <p class="text-align-justify">
        The group consists of a number of base units. Depending on the campaign these base units may
        represent different historical units fitting the actual unit deployment in the area of operations at the time
        the campaign is taking place.
      </p>

      <h3>Base units</h3>
      <p class="text-align-justify">
        The group is subdivided into {{ base_units.length }} base units. Not all base
        units are active at all time. Some units are set to inactive depending on the campaign requirements and membership
        numbers. The base units are not representing any specific unit or faction in particular. They are just a functional unit to
        organize it's members. The units get their historic context and faction through the historic units for each campaign.
      </p>
      <p class="text-align-justify">
        The base units are listed on the left in the vertical menu. Click on the name of the unit to get more information about
        a particular base unit. Click on the button labeled "Base units" if you can't see the list.
      </p>
      <h3>Historical units</h3>
      <p class="text-align-justify">
        A collection of historic units is used to give the base units their historic context for each campaign. The historic units are thereby
        representing units on a squadron level like i.e. Royal Air Force squadrons or Luftwaffe Staffeln, but also bigger
        and overarching organizations as Luftwaffe Gruppen or Geschwader, or Royal Air Force Groups.
      </p>
      <p class="text-align-justify">
        A specific unit structure consisting of various historic units is put in place for each of the campaigns, trying to reflect the structure
        the air forces of the battle depicted in the campaign as much as possible and practicable. Base units are then assigned
        to some of the historic units. The active base units are representing their assigned historic unit while that particular
        campaign is ongoing.
      </p>
      <p class="text-align-justify">
        The historical units are listed on the left in the vertical menu. The pages to show more information about
        the historical units are still under development. Click on the button labeled "Historical units" if you can't see the list. Additionally
        you can filter the list to show only units from a particular faction by using the faction buttons, or search for a
        unit with a specific name by using the search field.
      </p>
      <h3>Holding (RSV) & HQ Units</h3>
      <p class="text-align-justify">
        Holding Units (RSV) and HQ Units assist in the
        administrative process of dealing with members who go on leave or
        contribute in ways other than flying.
      </p>
      <p class="text-align-justify">
        Holding Units (RSV) are designed to take on long-standing members who go
        on leave for an extended period of time.
      </p>
    </div>

  </div>
</template>

<script>
import { mapState } from "vuex"

export default {
  name: "UnitGeneralComp",
  computed: {

    ...mapState('unitInfo', {
      base_units: state => state.base_units,
      hist_units: state => state.hist_units
    })
  }
}
</script>

<style scoped>

</style>
