<template>
  <div class="padding-10">
    <div>
      <h1 class="text-align-center">Welcome</h1>

      <DivLinkButton
        class="padding-0-10"
        route-name="About"
      >
        <h4>About</h4>
        <p class="text-align-justify">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor
          incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris
          nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum
          dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia
          deserunt mollit anim id est laborum.
        </p>
      </DivLinkButton>

      <div class="div-button padding-0">
        <a href="" >
          <h4 class="heading">Forums</h4>
          <p class="text-align-justify">
            Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor
            incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris
            nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum
            dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia
            deserunt mollit anim id est laborum.
          </p>
        </a>
      </div>

      <DivLinkButton
        class="padding-0-10"
        route-name="CampaignList"
      >
        <h4 class="heading">Campaigns</h4>
        <p class="text-align-justify">
          Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor
          incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris
          nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum
          dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia
          deserunt mollit anim id est laborum.
        </p>
      </DivLinkButton>

      <DivLinkButton
        class="padding-0-10"
        route-name="Units"
      >
        <h4 class="heading">Units</h4>
        <p class="text-align-justify">
          Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor
          incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris
          nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum
          dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia
          deserunt mollit anim id est laborum.
        </p>
      </DivLinkButton>

      <DivLinkButton
        class="padding-0-10"
        route-name="Members"
      >
        <h4 class="heading">Members</h4>
        <p class="text-align-justify">
          Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor
          incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris
          nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum
          dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia
          deserunt mollit anim id est laborum.
        </p>
      </DivLinkButton>
    </div>



    <!--<iframe id="ytplayer" type="text/html" width="100%" height="400px" src="https://www.youtube.com/embed/v6u4JxgE2S4?autoplay=0&origin=http://aircombatgroup.co.uk"-->
            <!--frameborder="0"></iframe>-->
  </div>
</template>

<script>
import he from 'he'
import DivLinkButton from './basic_comp/DivLinkButton'

export default {
  name: 'Home',
  components: {
    DivLinkButton
  },
  async mounted () {

    console.log("Testing PHP connection")
    // this.$store.commit('logger/addEntry', {message: "Testing PHP connection"})
    this.$dbCon.requestViewData(this.$options.name, {view: "member_info_with_last_status", member_status: 0})
      .then((response) => {
        console.log("PHP connection test, response received.");
        // this.$store.commit('logger/addEntry', {message: "PHP connection test, response received."});
        this.number_members = response.length;
      })
      .catch((error) => {
        console.log("PHP connection test, error ");
        // this.$store.commit('logger/addEntry', {message: "PHP connection test, error."});
        console.log(error.message);

      });

    console.log("Starting store testing");
    console.log("Calling getter: " + this.$store.getters['test/doubleCount'])
    console.log("Calling mutation: ")
    this.$store.commit('test/increment')
    console.log("Calling getter: " + this.$store.getters['test/doubleCount'])

    await this.$auth.syncSession(this.$options.name);
    console.log("he-version: "+he.version);

  },
  data () {

    return {

      number_members: null
    }
  },
  methods: {

  }
}
</script>

<!-- Add "scoped" attribute to limit CSS to this component only -->
<style scoped>


</style>
