<template>
  <div class="width-80">
    <div class="text-align-center">
      <h1>About Us</h1>
    </div>
    <div class="text-align-justify">
      <p class="text-align-justify">
        Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor
        incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris
        nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum
        dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia
        deserunt mollit anim id est laborum.
      </p>
    </div>
  </div>
</template>

<script>

export default {
  name: "InfoIndex"
}
</script>

<style scoped>

</style>
