<template>
  <div>
    <DivLinkButton v-bind="{routeName: 'AboutUS'}">
      <div class="heading">About us</div>
    </DivLinkButton>

    <DivLinkButton v-bind="{routeName: 'History'}">
      <div class="heading">History</div>
    </DivLinkButton>

    <DivLinkButton v-bind="{routeName: 'Joining'}">
      <div class="heading">Joining</div>
    </DivLinkButton>

    <DivLinkButton v-bind="{routeName: 'Campaigns'}">
      <div class="heading">Campaigns</div>
    </DivLinkButton>

    <DivLinkButton v-bind="{routeName: 'CampaignsRules'}">
      <div class="heading">Rules</div>
    </DivLinkButton>

    <DivLinkButton v-bind="{routeName: 'CampaignProcedures'}">
      <div class="heading">Procedures</div>
    </DivLinkButton>

    <DivLinkButton v-bind="{routeName: 'AfterActionReports'}">
      <div class="heading">After Action Reports</div>
    </DivLinkButton>

    <DivLinkButton v-bind="{routeName: 'Structure'}">
      <div class="heading">Structure</div>
    </DivLinkButton>

    <DivLinkButton v-bind="{routeName: 'AboutUnits'}">
      <div class="heading">Units</div>
    </DivLinkButton>

    <DivLinkButton v-bind="{routeName: 'Ranks'}">
      <div class="heading">Ranks</div>
    </DivLinkButton>

    <DivLinkButton v-bind="{routeName: 'Comms'}">
      <div class="heading">Communications</div>
    </DivLinkButton>

  </div>
</template>

<script>
import DivLinkButton from "../basic_comp/DivLinkButton"
import HideableDiv from "../basic_comp/HideableDiv"

export default {
  name: "InfoSideNav",
  components: {
    DivLinkButton,
    HideableDiv
  },
  methods: {

    navigate_to: function (link) {

      location.replace(link);
    }
  }

}
</script>

<style scoped>

.subcontent-buttons{
  font-size: 1em;
  margin: 2px 0px 0px 15px;
  width: calc(100% - 15px - 26px);
}

</style>
