<template>
  <div class="container">
    <h1 class="text-align-center">
      Ranks
    </h1>
    <p class="text-align-justify">
      Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor
      incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris
      nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum
      dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia
      deserunt mollit anim id est laborum.
    </p>
    <div>
      <table class="width-80 margin-auto">
        <tr>
          <th class="width-20"></th>
          <th class="width-20">{{factionStatus[1].long}}</th>
          <th class="width-20">{{factionStatus[2].long}}</th>
          <th class="width-20">{{factionStatus[3].long}}</th>
        </tr>

        <tr
          class=""
          v-for="rank_value in rank_values">
          <td class="heading">
            Rank value: {{ rank_value }}
          </td>

          <td>
            <UniformRankComp
              class=""
              v-bind:single_component="true"
              v-bind:rank_real_value="rank_value"
              v-bind:rank_lookup ="ranks"
              v-bind:faction="1"
              v-bind:show_portrait="false"
            ></UniformRankComp>
          </td>
          <td>
            <UniformRankComp
              class=""
              v-bind:single_component="true"
              v-bind:rank_real_value="rank_value"
              v-bind:rank_lookup ="ranks"
              v-bind:faction="2"
              v-bind:show_portrait="false"
            ></UniformRankComp>
          </td>
          <td>
            <UniformRankComp
              class=""
              v-bind:single_component="true"
              v-bind:rank_real_value="rank_value"
              v-bind:rank_lookup ="ranks"
              v-bind:faction="3"
              v-bind:show_portrait="false"
            ></UniformRankComp>
          </td>
        </tr>
      </table>
    </div>
  </div>

</template>

<script>
import statConv from "../../resource/statusConverter"
import UniformRankComp from "../member/UniformRankComp"

export default {
  name: "Ranks",
  components: {
    UniformRankComp
  },
  mixins: [
    statConv
  ],
  mounted () {

    this.$dbCon.requestViewData(this.$options.name,
      {view: "rank_lookup"})
      .then(response => {
        this.ranks = response;
      })
      .catch(error => {
        console.log(error.message);
      });
  },
  data () {
    return {

      ranks: [],
    }
  },
  computed: {

    rank_values: function () {

      return [...new Set(this.ranks.map(item => item.real_value))];
    }

  },
  methods: {

    rank_data: function (real_value, faction) {

      return this.ranks.find(
        function (item) {
          return (item.faction == faction) && (item.disp_value == real_value);
        }
      )
    }
  }
}
</script>

<style scoped>

  ul {
    margin-left: 25px;
    list-style-type: circle;
  }

  table {
    border-collapse: separate;
    border-spacing: 0px 5px;
  }

  td, th {
    background: rgba(0, 0, 0, 0.1);
    border-radius: 15px;
  }

</style>
